@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: rubik, Arial, sans-serif;
    background: #F3EAF4;
    color: black;
  }
  
  header{
    background: #F3EAF4;
    font-variant: small-caps;
  }

  .container {
    display: flex;
    background: #F3EAF4;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    padding: 0 1.25rem;
  }
  
  li a {
    color: #000;
    text-decoration: none;
    font-size: 130%;
  }
  
  li:hover a {
    text-decoration: underline;
  }
  
  /* Mobile Toggle */
  
  .nav-toggle {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    cursor: pointer;
  }
  
  .nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
  }
  
  .nav-toggle:hover img {
    opacity: 0.6;
  }
  
  .open {
    height: 100vh;
  }
  
  .hidden {
    display: none;
  }
  
.form{
  font-family: sans-serif;
  font-size: 140%;
  color: #000000;
  padding: 2% 4% 2% 4%;
  height: 100%;
  width: 92%;
  font-weight: initial;
  overflow: auto;
  background: #E5CEDC;
 }

.main{
  background: url("../Images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-size: cover;
  opacity: 0.9;
  font-family: sans-serif;
  font-size: 200%;
  color: #ffffff;
  padding: 10% 4% 15% 4%;
  height: 30%;
  width: 92%;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0;
 }


.main>p{
  font-size: 70%;
  font-weight: initial;
}

.work{
  display: block;
  text-align: center;
  background: #E5CEDC;
  margin: 0;
  padding: 5%;

}

h2, h3{
  font-variant: small-caps;
  font-size: 200%;
}
.work>div>img{
  width: 85%;
}
  
.work>div>legend{
  margin: 2% auto 2% auto;
  font-size: 150%;
}

.fields{
  margin: 0 auto 0 auto;
  display: block;
  text-align: center;
  margin: 0;
  padding: 5%;
  background: #F3EAF4;
}

#contact>h2{
  text-align: center;
  font-family: rubik, Arial, sans-serif;
}

#contact{
 background: none;   
}

footer{
  background: #8F9491;
  color: #F3EAF4;
  padding: 3%;
}

  @media all and (max-width: 720px) {

    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
    }
  
    li {
      display: block;
      text-align: center;
      padding: 1.5rem 0;
    }
  
    li a {
      font-size: 1.4rem;
    }
  
    .nav-toggle {
      display: block;
    }

   
  }



input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 6px; 
  resize: vertical; 
  height: auto;
}

input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 6px; 
  resize: vertical; 
  height: auto;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container1 {
  padding: 5%;
  border-radius: 5px;
  padding: 1% 4% 1% 4%;
}

ul{
  margin: 0;
}






